doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    link(rel="stylesheet", href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css")
    link(rel="stylesheet", href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css")
    script(src="https://unpkg.com/mithril@1.1.6/mithril.js")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    style
      include dist/app.css
    script.
      var requests = !{requests};
  body
    .container(style="margin-top: 6px")
    .container#app
    script
      include dist/app.js
